<!DOCTYPE html>
<html>
<head>
  <title>BooksManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar  do %>
    <%= menu_group do %>
        <%= menu_item "Books",books_path %>
        <%= menu_item "Create Book", new_book_path,remote: true %>
        <%= menu_item "Categories", catagories_path %>
        <%= menu_item "Create Category", new_catagory_path %>
    <% end %>
    
    <% if current_user %>   <!-- user sign_in _method-->
        <%= menu_group pull: :right do %>
        	<%= menu_item "Sign Out", destroy_user_session_path,method: :delete %>
        <%end%>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expand="false">catagories <span class="caret"></span></a>
            
         </li>         
    <% else %>
        <%= menu_group pull: :right do %>
            <%= menu_item "Sign In",new_user_session_path %>
            <%= menu_item "Sign Up",new_user_registration_path %>
        <% end %>
    <% end %>
<% end %>

<%= yield %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= render 'layouts/footer' %>
</body>
</html>